<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div class="page">
      <header>
           <div class="header" >
              <div class="conteiner">
                 <div class="nav">
                     <div class="logo_img"></div>
                     <p class="logo">Happy pet</p>
                     <form action="poisk"  method="get">
                        <input type="text"  placeholder="Искать..." class="poisk" >
                        <input type="submit" value=" " id="poisk_img">
                     </form>
                     <div class="phone_img"></div>
                     <a href=”tel:80983663636” class="phone" >8 098 366 36 36</a>
                     <div onclick="f_basket()" id="id_basket" class="basket_img"></div>
                </div>
              </div>
           </div>
     </header>
     <div class="main">
         <div class="content">
            <h1  class="h_1">Твой новый друг<br> с доставкой на дом</h1>
            <p class="text_1">Онлайн-магазин домашних животных<br>
               подарит тебе нового друга в <br> несколько кликов</p>
            <a href="http://127.0.0.1:5500/pronas.html" ><button class="knopka">Посмотреть друзей </button></a>
         </div>
         <div class="img_dog_cat"></div>
      </div>
   </div>
      <div class="content_1">
           <h2 class="h_2">Почему выбирают<br>наших друзей</h2>
           <div class="conteiner_2">
              <div class="blok_1">
                  <div>
                      <div class="little_dog_img"></div>
                 </div>
                  <div class="div_1">
                       <h3 class="h_4">Их много</h3>
                       <p class="p_1">Огромный выбор животных<br> птиц и питомцев</p>
                  </div>
              </div>
              <div class="blok_2">
                    <div>
                        <img src="/static/img/first aid kit.svg" alt="" class="first_aid_kit_img">
                    </div>
                    <div class="div_2">
                          <h3 class="h_5">Они здоровы</h3>
                          <p class="p_2">Мы заботимся о каждом<br> питомце который с нами</p>
                    </div>
              </div>
               <div class="blok_3">
                  <div>
                      <img src="/static/img/heart.svg" alt="" class="heart_img">
                  </div>
                  <div class="div_3">
                        <h3 class="h_6">Их любят</h3>
                        <p class="p_3">Мы окружаем их<br> любовью и вниманием</p>
                  </div>
             </div>
           </div>

           <h3 class="h_3">Мы любим поиграть</h3>

          <div class="image">
              <div class="line_blok">
                 <div><img src="/static/img/dog and cat.jpg" alt="dog and cat" class="dog_cat"></div>
                 <div><img src="/static/img/dog.jpg" alt="dog" class="dog"></div>
              </div>
              <div class="line_blok_1">
                   <div><img src="/static/img/popugaj-ara.jpg" alt="ppopugaj" class="popugaj"></div>
                   <div class="line_blok_2">
                        <div><img src="/static/img/fish.jpg" alt="fish" class="fish"></div>
                        <div><img src="/static/img/white cat.jpg" alt="cat" class="cat"></div>
                   </div>
              </div>
         </div>
      </div>
   <footer  class="footer">
      <ul class="footer_1">
                <li><a href="http://127.0.0.1:5000/pronas">О нас</a></li>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Оплата </a></li>
      </ul>
      <ul class="footer_2">
                  <li>Контакты</li>
                  <li>044 920 20 21</li>
                  <li>+38 (098) 366 36 36</li>
      </ul >
         <div class="image_footer">
                   <a href="#"><img class="img_1" src="/static/img/instagram 1.svg" alt="instagram"></a>
                   <a href="#"><img class="img_2" src="/static/img/facebook 1.svg" alt="facebook"></a>
                   <a href="#"><img class="img_3" src="/static/img/telegram 1.svg" alt="telegram"></a>
          </div>
  </footer>
 <div id="id_holder" class="holder">
     <h2 class="text_basket">Корзина</h2>
     <form method="POST">
        <div class="basket_type">
             <input type="text" class="form_control" placeholder="Добавить товар">
             <input type="submit" class="submit_class" value="Отправить">
        </div>
     </form>
      <button id="id_button" onclick="clouse()"><p class="x">x</p></button>
 </div>
  <script src="/static/js/main.js"></script>
{% block body %} {% endblock %}

</body>
</html>