<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form method="POST">
        <p>New name</p><input type="text" name="name">
        <p>New price</p><input type="text" name="price">
        <p>Old name</p><input type="text" name="name_1">
        <p>Old price</p><input type="text" name="price_2">
        <input type="submit" value="Редактировать">
    </form>
</body>
</html>